@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: Roboto, 'Times New Roman';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
}

.navbar-logo:hover {
  cursor: pointer;
}

.templates {
  padding: 2em;
}

.cv-form,
.resume-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emojis {
  cursor: pointer;
}

.edit-template {
  margin: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-doc-btn {
  height: 38px;
  width: 229px;
  border-radius: 50px;
  margin-top: 50px;
  font-family: Rambla;
  z-index: 1000;
}

.my-doc-btn-link {
  position: absolute;
  top: 220px;
  z-index: 1000;
}

.toolbar {
  border-radius: 50px;
  font-family: Rambla;
  width: 80%;
  /* height: 45px; */
  background-color: #e5e5e5;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-evenly;
}



.toolbar > img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  cursor: pointer;
}

.toolbar > label {
  align-self: center;
  position: relative;
  right: 20px;
}

.small-toolbar {
  top: 200px;
  width: 40%;
  padding: 10px;
  z-index: 1000;
  border-radius: 50px;
  position: absolute;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;

  background-color: #e5e5e5;
}

.small-toolbar img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  cursor: pointer;
}

.cv-templates {
  width: 1100px;
  height: 1400px;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.cv-templates > dialog {
  border: 1px solid black;
}

.fullName1 {
  position: absolute;
  top: 220px;
  left: -380px;
  width: 300px;
  border-width: 1px !important;
}

.fullName2 {
  position: absolute;
  top: 150px;
  width: 300px;
  border-width: 0px !important;
  background-color: transparent;

  height: 50px;
}

.aboutMe1 {
  position: absolute;
  top: 220px;
  right: -500px;
  width: 250px;
  background-color: transparent;
}

.aboutMe2 {
  position: absolute;
  top: 250px;
  width: 300px;  background-color: transparent;

  height: 50px;
  border-width: 0px !important;

  /* border-width: 0px !important; */
}

.workExperience1 {
  position: absolute;
  top: 600px;
  left: -380px;
  width: 300px;
  background-color: transparent;
}

.workExperience2 {
  position: absolute;
  top: 450px;  background-color: transparent;
  width: 300px;
  border-width: 0px !important;

  height: 50px;
}

.personalInfo1 {
  position: absolute;
  top: 600px;
  right: -500px;
  width: 250px;
  background-color: transparent;
}

.personalInfo2 {
  position: absolute;
  top: 350px;
  width: 300px;  background-color: transparent;
right: -400px;
  height: 50px;
}

.certification-projects1 {
  position: absolute;
  top: 940px;
  left: -380px;
  width: 300px;
  background-color: transparent;
}

.skills1 {
  position: absolute;
  top: 870px;
  right: -500px;
  width: 250px;
  background-color: transparent;
}

.interests1 {
  position: absolute;
  top: 1140px;
  left: -380px;
  width: 300px;
  background-color: transparent;
}

.education1 {
  position: absolute;
  top: 1140px;
  right: -500px;
  width: 250px;
  background-color: transparent;
}

.education2 {
  position: absolute;
  top: 600px;
  width: 300px;
  height: 50px;  background-color: transparent;

  border-width: 0px !important;
}

.certification-projects2 {
  position: absolute;
  top: 680px;
  border-width: 0px !important;

  width: 300px;  background-color: transparent;

  height: 50px;
}

.extra-certification-projects2 {
  position: absolute;
  top: 800px;
  width: 300px;
  height: 50px;
  border-width: 0px !important;  background-color: transparent;

}

.interests2 {
  position: absolute;
  top: 960px;
  width: 300px;
  border-width: 0px !important;
  background-color: transparent;

  height: 50px;
}

.skills2 {
  display: none;
  
}

.personalInfo3 {
  position: absolute;
  top: 180px;
  width: 300px;
  background-color: transparent;
  border-width: 0px !important;
}

.workExperience3 {
  position: absolute;
  top: 530px;
  background-color: transparent;

  width: 150px;
  right: -200px;
  border-width: 0px !important;
}

.education3 {
  position: absolute;
  top: 530px;
  background-color: transparent;

  width: 120px;
  left: -550px;
  border-width: 0px !important;
}

.certification-projects3 {
  position: absolute;
  top: 320px;
  border-width: 0px !important;
  right: -200px;
  background-color: transparent;

  width: 150px;
}

.extra-certification-projects3 {
  position: absolute;
  top: 720px;
  width: 120px;
  background-color: transparent;
  left: -220px;
  border-width: 0px !important;
}

.interests3 {
  position: absolute;
  top: 720px;
  background-color: transparent;

  width: 120px;
  left: -530px;
  border-width: 0px !important;
}

.skills3 {
  position: absolute;
  top: 530px;
  width: 120px;
  left: -200px;
  border-width: 0px !important;

  background-color: transparent;
}

.aboutMe3 {
  position: absolute;
  top: 320px;
  width: 150px;
  left: -450px;
  background-color: transparent;

  border-width: 0px !important;
}

.fullName3 {
  position: absolute;
  top: 80px;
  background-color: transparent;

  width: 300px;
  border-width: 0px !important;

  height: 50px;
}

.template-img{
  width: 1100px;
  height: 1400px;
}



body {
  -webkit-print-color-adjust: exact !important;
}



.view-doc{
  margin-top: 100px;
  background-color: #e5e5e5;
  border-radius: 20px;
  font-family: Montserrat;
  width: 600px;
  display: flex;
  padding: 2em;
  flex-direction: column;
  /* align-items: center; */
}

.view-doc > input{
  margin: 1em;
  margin-left: 0em;
}

.view-doc > label{
  align-self: flex-start;
}

.heading{
  margin: 50px 0px;
}

@media print{
  .navbar, .my-doc-btn, .small-toolbar, .toolbar{
    display: none !important;
  }

  .template-img{
    margin: 0px;
    width: 100%;
  }

  

  .cv-templates{
    margin: 0px;
    /* width: 100%; */
  }
}