@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: Roboto, 'Times New Roman';
}


h1, h2, h3, h4, h5, h6{
    font-family: Montserrat;
}


.navbar-logo:hover{
    cursor: pointer;
}

.templates{
    padding: 2em;
}

.cv-form, .resume-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emojis{
    cursor: pointer;
}